@(page: String, isLoggedIn: Boolean, isAdmin: Boolean, userInfo: UserInfo)

@Main(page, isLoggedIn, isAdmin, userInfo) {
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Notice:</span>
      Notice: This application is work in progress.
    </div>
    <H2>Welcome to the Starmapper web application!</H2>
    <H3>Please Login or Signup to get started!</H3>


  </div>
}
